/* **************************** Edit Entry Page **************************** */

main {
    margin: 6rem auto;
    padding: 2rem;
    z-index: 1;
}

header {
    background: rgba(255, 255, 255, 0.4);
}

div.bg-pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--primarywhite) url(../img/line-pattern.svg);
    z-index: -1;
}

div.topics_banner {
    position: relative;
    margin: 6rem auto;
    padding: 2rem;
    width: 100%;
    height: auto;
    background: var(--primarywhite);
    border: 2px solid rgba(111, 116, 114, 0.1);
    border-radius: 4px;
}

div.topics_banner form {
    position: relative;
    margin: 1rem auto;
    z-index: 1;
}

div.topics_banner form .topics_header {
    position: relative;
    margin: auto;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.topics_banner form .topics_header h2 {
    position: relative;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    color: var(--secondarycolor);
    background: rgba(4, 194, 127, 0.08);
    border-radius: 4px;
    user-select: none;
    transition: all 0.2s ease-in-out;
}

div.topics_banner form .topics_header h2 a {
    font: 450 3.5rem/1.2 var(--mainfont);
    color: var(--secondarycolor);
    letter-spacing: -0.4px;
    text-align: left;
    text-decoration: none;
}

div.topics_banner form .topics_header h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.3rem;
    border-radius: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.3s ease-in-out;
}

div.topics_banner form .topics_header h2:hover:after {
    transform: scaleX(1);
    transform-origin: left center;
}

div.topics_banner form .topics_header button {
    margin: 1rem 0;
    padding: 1rem 2rem;
    color: var(--primarywhite);
    background: var(--primaryblack);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10rem;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
}

div.topics_banner form .topics_header button:hover {
    color: var(--primaryblack);
    background: var(--primarycolor);
}

div.topics_banner form .topics_header button span {
    font: 450 1.8rem var(--mainfont);
}
div.topics_banner form .topics_header button svg {
    width: 2.2rem;
    height: 2.2rem;
}

div.topics_banner form p {
    margin: 1rem 0 0;
    font: 450 2.2rem/1.2 var(--mainfont);
    color: var(--primaryblack);
    text-align: left;
}

div.topics_banner form p span {
    font-weight: 500;
}

div.topics_banner form textarea {
    display: block;
    width: 100%;
    margin: 3rem 0;
    padding: 1rem 1.5rem;
    font: 400 2rem/1.5 var(--mainfont);
    color: var(--primaryblack);
    background: rgba(4, 194, 127, 0.05);
    border: 2.5px solid rgba(4, 194, 127, 0.45);
    border-radius: 6px;
    text-align: justify;
    letter-spacing: 0.2px;
    box-shadow: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}

div.topics_banner form textarea::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

div.topics_banner form textarea:focus {
    border: 2.5px solid rgba(4, 194, 127, 0.65);
}

div.topics_banner form textarea::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
}

div.topics_banner form textarea::-webkit-scrollbar-thumb {
    background: rgba(1, 43, 81, 0.6);
    border-radius: 3px;
}

/* **************************** Responsive Medias **************************** */

@media (max-width: 576px) {
    main {
        padding: 2rem 1rem;
    }
    div.topics_banner {
        padding: 2rem 1rem;
    }
    div.topics_banner form .topics_header {
        flex-wrap: wrap;
    }
    div.topics_banner form .topics_header button span {
        display: none;
    }
}

@media (min-width: 576px) {
    div.topics_banner form .topics_header button svg {
        display: none;
    }
}

/* ******************************* Styles End ******************************* */
