/* **************************** Error Page **************************** */

main {
    margin: 6rem auto;
    padding: 2rem;
}

div.error_banner {
    position: relative;
    margin: 3rem auto;
    margin-bottom: 0 !important;
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: var(--primarywhite);
}

div.error_banner img {
    margin: 1rem auto;
    width: 40rem;
    height: auto;
}

div.error_banner h2 {
    margin: 1rem 0;
    font: 450 4rem/1.2 var(--mainfont);
    color: var(--primaryblack);
    letter-spacing: -0.4px;
    text-align: center;
}

div.error_banner h2 span {
    font-weight: 600;
}

div.error_banner p {
    margin: 0.5rem 0;
    font: 450 3rem/1 var(--mainfont);
    color: var(--primaryblack);
    letter-spacing: 0.8px;
    text-align: center;
}

/* **************************** Responsive Medias **************************** */

@media (max-width: 576px) {
    div.error_banner {
        margin: 7rem auto;
        padding: 2rem 0;
    }
    div.error_banner img {
        width: 80%;
    }
    div.error_banner h2 {
        font-size: 3.5rem;
    }
    div.error_banner p {
        font-size: 2.5rem;
    }
}

/* ******************************* Styles End ******************************* */
