/* **************************** Topics Page **************************** */

main {
    margin: 6rem auto;
    padding: 2rem;
    z-index: 1;
}

header {
    background: rgba(255, 255, 255, 0.4);
}

div.bg-pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--primarywhite) url(../img/line-pattern.svg);
    z-index: -1;
}

div.topics_banner {
    position: relative;
    margin: 6rem auto;
    padding: 2rem;
    width: 100%;
    height: auto;
    background: var(--primarywhite);
    border: 2px solid rgba(111, 116, 114, 0.1);
    border-radius: 4px;
}

div.topics_banner .topics_header {
    position: relative;
    margin: auto;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.topics_banner .topics_header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

div.topics_banner .topics_header h2 {
    margin: 1rem 0;
    font: 450 4rem/1.4 var(--mainfont);
    color: var(--secondarycolor);
    letter-spacing: -0.4px;
    text-align: left;
}

div.topics_banner .topics_header h2 span {
    font-weight: 500;
    color: var(--primaryblack);
}

div.topics_banner .topics_header a {
    margin: 1rem 0;
    padding: 1rem 2rem;
    color: var(--primarywhite);
    background: var(--primaryblack);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10rem;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

div.topics_banner .topics_header a:hover {
    color: var(--primaryblack);
    background: var(--primarycolor);
}

div.topics_banner .topics_header a span {
    font: 450 1.7rem var(--mainfont);
}
div.topics_banner .topics_header a svg {
    width: 2.5rem;
    height: 2.5rem;
}

div.topics_banner ul.topics_body {
    display: block;
    margin: 2rem 0;
    padding: 0.5rem;
    list-style: none;
}

div.topics_banner ul li span.empty {
    display: block;
    margin: 1rem 0;
    font: 450 2.5rem/1.4 var(--mainfont);
    color: var(--primarygrey);
    letter-spacing: 0.2px;
    text-align: center;
}

div.topics_banner ul li a {
    position: relative;
    display: block;
    margin: 1rem auto;
    padding: 0.8rem;
    padding-left: 1.5rem;
    font: 450 2rem/1.4 var(--mainfont);
    color: var(--primaryblack);
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.2px;
    border-radius: 0 4px 4px 0;
    background: rgba(1, 43, 81, 0.05);
    transition: all 0.2s ease-in-out;
}

div.topics_banner ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: rgba(1, 43, 81, 0.8);
    transition: all 0.1s ease-in-out;
}

div.topics_banner ul li a:hover {
    background: rgba(1, 43, 81, 0.08);
}
div.topics_banner ul li a:hover:before {
    width: 5px;
}

/* **************************** Responsive Medias **************************** */

@media (max-width: 576px) {
    main {
        padding: 2rem 1rem;
    }
    div.topics_banner {
        padding: 2rem 1rem;
    }
    div.topics_banner .topics_header {
        flex-wrap: wrap;
    }
    div.topics_banner .topics_header h2 {
        line-height: 1;
    }
    div.topics_banner .topics_header::after {
        bottom: -5px;
    }
    div.topics_banner .topics_header a span {
        display: none;
    }
}

@media (min-width: 576px) {
    div.topics_banner .topics_header a svg {
        display: none;
    }
}

/* ******************************* Styles End ******************************* */
