{% extends "learning_logs/base.html" %}
{% load static %}

{% block title %}Register | Learning Log{% endblock title %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock stylesheet %}

{% block navbarlogo %}
  <img
    src="{% static 'img/logo-light.svg' %}"
    class="d-inline-block align-top"
    alt="Logo"
  />
{% endblock navbarlogo %}

{% block navbarbtntext %}
  <a class="nav-link" href="{% url 'learning_logs:index' %}">
    Home
  </a>
{% endblock navbarbtntext %}

{% block page_content %}

  <div class="authentication_form">
    <h2><span>Register</span> a new user</h2>

    <form action="{% url 'users:register' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <button name="submit">Sign Up</button>
      <input type="hidden" name="next" value="{% url 'learning_logs:index' %}">
    </form>

    <hr/>
    <p>
      Already have a account? 
      <a href="{% url 'users:login' %}" class="link" role="button">
        Log In
      </a>
    </p>
  </div>

  <div class="bg-pattern"></div>

{% endblock page_content %}